#run python script every minutes
PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

*/10 * * * * printenv > /proc/1/fd/1 2>/proc/1/fd/2

*/10 * * * * python3 /app/aliyun_ddns.py > /proc/1/fd/1 2>/proc/1/fd/2
